{% include 'ext_includes/header.html' %}
{% load static %}

<title>Login</title>
<link rel="stylesheet" href="{% static 'reservation/css/navbar.css' %}">
</head>

<body style="background-color: rgba(100,100,0,0.1);">

  {% include 'ext_includes/nav.html' %}

  <br><br><br>
  <div id="about" class="container-fluid">
    <div class="">
      <p style="color: black;">
        {% if user.is_authenticated %}
      <h3> Welcome {{user.first_name}} ! </h3>
      {% else %}
      <h3>You are not logged in!</h3>
      {% endif %}
      </p>
      <a class="btn btn-primary" target="_blank" href="{% url 'search' %}">Search for rooms</a>
      <a class="btn btn-primary" target="_blank" href="{% url 'book' %}">Book a room</a>
    </div>

    <!-- <h3>{{emailid}}</h3> -->
</body>

</html>